@media (max-width: 768px) {
    .CandidateResponsive {
        width: 200px;
    }
    .WrapperBody {
        height: 167px;
    }
}
@media (min-width: 786px) {
    .CandidateResponsive {
        width: 220px;
    }
    .WrapperBody {
        height: 192px;
    }
}